{# empty Twig template #}
{% extends 'OpmTestBundle::layout.html.twig'%}

{% block title%}Liste des Utlilisateurs{% endblock%}
{% block content %}
<div style="color:red"> test mail</div>
<img src="http://www.opm.local.com/bundles/OpmTest/images/logo.gif"/>
{% endblock%}